.scroll {
  position: relative;
  overflow: hidden;
  display: flex;
}

  .scroll__viewport {
    overflow: hidden;
    min-height: 0;
    min-width: 0;
    display: flex;
  }

  .scroll__content {
    margin-right: -15px;
    margin-bottom: -15px;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
    min-height: 0;
    min-width: 0;
  }

  .scroll__bar {
    position: absolute;
    visibility: hidden;
    border: 8px solid transparent;
  }

    .scroll__bar_v {
      top: 0;
      bottom: 0;
      right: 0;
      width: 8px;
      border-top: 0;
      border-bottom: 0;
    }

    .scroll__bar_h {
      left: 0;
      right: 0;
      bottom: 0;
      height: 8px;
      border-left: 0;
      border-right: 0;
    }

    .scroll_overflow_v .scroll__bar_v,
    .scroll_overflow_h .scroll__bar_h {
      visibility: visible;
    }

  .scroll__track {
    position: absolute;
    overflow: hidden;
  }

    .scroll__track_v {
      left: 0;
      right: 0;
      top: 16px;
      bottom: 16px;
    }

    .scroll__track_h {
      left: 16px;
      right: 16px;
      top: 0;
      bottom: 0;
    }

    .scroll__drag {
      position: absolute;
      top: 0;
      left: 0;
      background: #000;
      opacity: 0.64;
      transition: opacity .2s;
    }

        .scroll__drag:hover {
          opacity: 0.94;
        }

    .scroll__bar_v .scroll__drag {
      width: 100%;
      min-height: 16px;
    }

    .scroll__bar_h .scroll__drag {
      height: 100%;
      min-width: 16px;
    }